/* Reset */
* {
  margin:0;
  paddinig:0;
  box-sizing: border-box;
}

/* Header */
header {
  background-color: #1f2937;
  padding: 15px 40px;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo */
.logo {
  color: green;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

/* Navigation list */
ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

/* Navigation links */
ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

/* Hover effect */
ul li a:hover {
  color: #60a5fa;
}

/* Sign Up button */
.btn {
  background-color: #eb253f;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

/* Button hover */
.btn:hover {
  background-color: #d81d1d;
}


body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.patriotic-title {
  text-align: center;
}

.white {
  color: white;
  <! --background-color: #555; /* makes white text visible */
}

.green {
  color: green;
}

  
.red {
  color: red;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: green;
}